<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'lligafutbol/style.css' %}">
    <title>Crea equip</title>
  </head>
  <body>

<h1>Crea equip</h1>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
 
  <input type="submit" name="submit" vlaue="Crear">
</form>

<a href="/classificacio">Tornar a la llista de lligues</a>

  </body>
</html>



