<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'lligafutbol/style.css' %}">
  </head>
  <body>

<h1>Últimes lligues</h1>

{% if latest_lliga_list %}
    <ul>
    {% for lliga in latest_lliga_list %}
      <li><a href="/classificacio/{{ lliga.id }}">{{ lliga.nom }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lligues are available.</p>
{% endif %}

  </body>
</html>
